.CarouselContainer {
  margin: auto !important;
  position: relative;
  display: block;
  background: transparent;
}

.CarouselContainer > * {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.prevBtn {
  left: -37px;
}

.nextBtn {
  right: -37px;
}

.absBtn {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  opacity: .75;
}

.absBtn > span {
  width: 100%;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--primary-color-light);
  cursor: pointer;
}

.absBtn:hover {
  opacity: 1;
}

.CarouselList {
  position: relative;
  overflow: hidden;
}

.CarouselTrack {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.15s ease-in;
}

.CarouselAnimated {
  display: flex;
  transition-duration: 444ms;
  padding: 0;
}

.CarouselSwiping {
  transition: none !important;
}

.CarouselTrack > ul {
  margin: 0;
}

.CarouselSlide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  list-style: none;
  display: flex;
  padding: 0 10px 5px;
}

.CarouselDotWrapper {
}

.CarouselDotContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.CarouselDot {
  list-style: none;
  margin-right: 0.3125rem;
  font-size: 2.5rem;
  line-height: 1.5625rem;
  text-align: center;
  cursor: pointer;
}